<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="icu.axospark.mapper.UploadTaskMapper">

    <resultMap id="BaseResultMap" type="icu.axospark.pojo.entity.UploadTask">
            <id property="id" column="id" />
            <result property="uploadId" column="upload_id" />
            <result property="userId" column="user_id" />
            <result property="videoId" column="video_id" />
            <result property="fileName" column="file_name" />
            <result property="fileSize" column="file_size" />
            <result property="fileHash" column="file_hash" />
            <result property="mimeType" column="mime_type" />
            <result property="chunkSize" column="chunk_size" />
            <result property="totalChunks" column="total_chunks" />
            <result property="uploadedChunks" column="uploaded_chunks" />
            <result property="storagePath" column="storage_path" />
            <result property="mergedPath" column="merged_path" />
            <result property="status" column="status" />
            <result property="errorMsg" column="error_msg" />
    </resultMap>

    <sql id="Base_Column_List">
        id,upload_id,user_id,video_id,file_name,file_size,
        file_hash,mime_type,chunk_size,total_chunks,uploaded_chunks,
        storage_path,merged_path,status,error_msg
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from upload_task
        where  id = #{id}
    </select>
    <select id="selectNotUploaded" resultType="icu.axospark.pojo.entity.UploadTask">
        select
        <include refid="Base_Column_List" />
        from upload_task
        <where>

            <if test="uploadId != null">and upload_id=#{uploadId}</if>
            <if test="userId != null">and user_id=#{userId}</if>
            <if test="videoId != null">and video_id=#{videoId}</if>
            <if test="fileName != null">and file_name=#{fileName}</if>
            <if test="fileHash != null">and file_hash=#{fileHash}</if>
            and status = 0
        </where>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from upload_task
        where  id = #{id} 
    </delete>
    <delete id="deleteByFileHash">
        delete
        from upload_task
        where file_hash=#{fileHash};
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="icu.axospark.pojo.entity.UploadTask" useGeneratedKeys="true">
        insert into upload_task
        ( id,upload_id,user_id,video_id,file_name,file_size,
        file_hash,mime_type,chunk_size,total_chunks,uploaded_chunks,
        storage_path,merged_path,status,error_msg)
        values (#{id},#{uploadId},#{userId},#{videoId},#{fileName},#{fileSize},
        #{fileHash},#{mimeType},#{chunkSize},#{totalChunks},#{uploadedChunks},
        #{storagePath},#{mergedPath},#{status},#{errorMsg})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="icu.axospark.pojo.entity.UploadTask" useGeneratedKeys="true">
        insert into upload_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="uploadId != null">upload_id,</if>
                <if test="userId != null">user_id,</if>
                <if test="videoId != null">video_id,</if>
                <if test="fileName != null">file_name,</if>
                <if test="fileSize != null">file_size,</if>
                <if test="fileHash != null">file_hash,</if>
                <if test="mimeType != null">mime_type,</if>
                <if test="chunkSize != null">chunk_size,</if>
                <if test="totalChunks != null">total_chunks,</if>
                <if test="uploadedChunks != null">uploaded_chunks,</if>
                <if test="storagePath != null">storage_path,</if>
                <if test="mergedPath != null">merged_path,</if>
                <if test="status != null">status,</if>
                <if test="errorMsg != null">error_msg,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id},</if>
                <if test="uploadId != null">#{uploadId},</if>
                <if test="userId != null">#{userId},</if>
                <if test="videoId != null">#{videoId},</if>
                <if test="fileName != null">#{fileName},</if>
                <if test="fileSize != null">#{fileSize},</if>
                <if test="fileHash != null">#{fileHash},</if>
                <if test="mimeType != null">#{mimeType},</if>
                <if test="chunkSize != null">#{chunkSize},</if>
                <if test="totalChunks != null">#{totalChunks},</if>
                <if test="uploadedChunks != null">#{uploadedChunks},</if>
                <if test="storagePath != null">#{storagePath},</if>
                <if test="mergedPath != null">#{mergedPath},</if>
                <if test="status != null">#{status},</if>
                <if test="errorMsg != null">#{errorMsg},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="icu.axospark.pojo.entity.UploadTask">
        update upload_task
        <set>
                <if test="uploadId != null">
                    upload_id = #{uploadId},
                </if>
                <if test="userId != null">
                    user_id = #{userId},
                </if>
                <if test="videoId != null">
                    video_id = #{videoId},
                </if>
                <if test="fileName != null">
                    file_name = #{fileName},
                </if>
                <if test="fileSize != null">
                    file_size = #{fileSize},
                </if>
                <if test="fileHash != null">
                    file_hash = #{fileHash},
                </if>
                <if test="mimeType != null">
                    mime_type = #{mimeType},
                </if>
                <if test="chunkSize != null">
                    chunk_size = #{chunkSize},
                </if>
                <if test="totalChunks != null">
                    total_chunks = #{totalChunks},
                </if>
                <if test="uploadedChunks != null">
                    uploaded_chunks = #{uploadedChunks},
                </if>
                <if test="storagePath != null">
                    storage_path = #{storagePath},
                </if>
                <if test="mergedPath != null">
                    merged_path = #{mergedPath},
                </if>
                <if test="status != null">
                    status = #{status},
                </if>
                <if test="errorMsg != null">
                    error_msg = #{errorMsg},
                </if>
        </set>
        where   id = #{id} 
    </update>
    <update id="updateByPrimaryKey" parameterType="icu.axospark.pojo.entity.UploadTask">
        update upload_task
        set 
            upload_id =  #{uploadId},
            user_id =  #{userId},
            video_id =  #{videoId},
            file_name =  #{fileName},
            file_size =  #{fileSize},
            file_hash =  #{fileHash},
            mime_type =  #{mimeType},
            chunk_size =  #{chunkSize},
            total_chunks =  #{totalChunks},
            uploaded_chunks =  #{uploadedChunks},
            storage_path =  #{storagePath},
            merged_path =  #{mergedPath},
            status =  #{status},
            error_msg =  #{errorMsg}
        where   id = #{id} 
    </update>
    <update id="updateByUploadId">
        update upload_task
        set

            user_id =  #{userId},
            video_id =  #{videoId},
            file_name =  #{fileName},
            file_size =  #{fileSize},
            file_hash =  #{fileHash},
            mime_type =  #{mimeType},
            chunk_size =  #{chunkSize},
            merged_path =  #{mergedPath},
            status =  #{status}
        where   upload_id =  #{uploadId}
    </update>
</mapper>
