<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="icu.axospark.mapper.VideosMapper">

    <resultMap id="BaseResultMap" type="icu.axospark.pojo.entity.Videos">
            <id property="videoId" column="video_id" />
            <result property="title" column="title" />
            <result property="description" column="description" />
            <result property="userId" column="user_id" />
            <result property="videoCategoryId" column="video_category_id" />
            <result property="filePath" column="file_path" />
            <result property="fileSize" column="file_size" />
            <result property="duration" column="duration" />
            <result property="width" column="width" />
            <result property="height" column="height" />
            <result property="format" column="format" />
            <result property="thumbnailUrl" column="thumbnail_url" />
            <result property="status" column="status" />
            <result property="viewCount" column="view_count" />
            <result property="likeCount" column="like_count" />
            <result property="commentCount" column="comment_count" />
            <result property="shareCount" column="share_count" />
            <result property="isPublic" column="is_public" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="updateBy" column="update_by" />
            <result property="createBy" column="create_by" />
            <result property="originalName" column="original_name" />
    </resultMap>

    <sql id="Base_Column_List">
        video_id,title,description,user_id,video_category_id,file_path,
        file_size,duration,width,height,format,
        thumbnail_url,status,view_count,like_count,comment_count,
        share_count,is_public,create_time,update_time,update_by,
        create_by,original_name
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from videos
        where  video_id = #{videoId} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from videos
        where  video_id = #{videoId} 
    </delete>
    <insert id="insert" keyColumn="video_id" keyProperty="videoId" parameterType="icu.axospark.pojo.entity.Videos" useGeneratedKeys="true">
        insert into videos
        ( video_id,title,description,user_id,video_category_id,file_path,
        file_size,duration,width,height,format,
        thumbnail_url,status,view_count,like_count,comment_count,
        share_count,is_public,create_time,update_time,update_by,
        create_by,original_name)
        values (#{videoId},#{title},#{description},#{userId},#{videoCategoryId},#{filePath},
        #{fileSize},#{duration},#{width},#{height},#{format},
        #{thumbnailUrl},#{status},#{viewCount},#{likeCount},#{commentCount},
        #{shareCount},#{isPublic},#{createTime},#{updateTime},#{updateBy},
        #{createBy},#{originalName})
    </insert>
    <insert id="insertSelective" keyColumn="video_id" keyProperty="videoId" parameterType="icu.axospark.pojo.entity.Videos" useGeneratedKeys="true">
        insert into videos
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="videoId != null">video_id,</if>
                <if test="title != null">title,</if>
                <if test="description != null">description,</if>
                <if test="userId != null">user_id,</if>
                <if test="videoCategoryId != null">video_category_id,</if>
                <if test="filePath != null">file_path,</if>
                <if test="fileSize != null">file_size,</if>
                <if test="duration != null">duration,</if>
                <if test="width != null">width,</if>
                <if test="height != null">height,</if>
                <if test="format != null">format,</if>
                <if test="thumbnailUrl != null">thumbnail_url,</if>
                <if test="status != null">status,</if>
                <if test="viewCount != null">view_count,</if>
                <if test="likeCount != null">like_count,</if>
                <if test="commentCount != null">comment_count,</if>
                <if test="shareCount != null">share_count,</if>
                <if test="isPublic != null">is_public,</if>
                <if test="createTime != null">create_time,</if>
                <if test="updateTime != null">update_time,</if>
                <if test="updateBy != null">update_by,</if>
                <if test="createBy != null">create_by,</if>
                <if test="originalName != null">original_name,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="videoId != null">#{videoId},</if>
                <if test="title != null">#{title},</if>
                <if test="description != null">#{description},</if>
                <if test="userId != null">#{userId},</if>
                <if test="videoCategoryId != null">#{videoCategoryId},</if>
                <if test="filePath != null">#{filePath},</if>
                <if test="fileSize != null">#{fileSize},</if>
                <if test="duration != null">#{duration},</if>
                <if test="width != null">#{width},</if>
                <if test="height != null">#{height},</if>
                <if test="format != null">#{format},</if>
                <if test="thumbnailUrl != null">#{thumbnailUrl},</if>
                <if test="status != null">#{status},</if>
                <if test="viewCount != null">#{viewCount},</if>
                <if test="likeCount != null">#{likeCount},</if>
                <if test="commentCount != null">#{commentCount},</if>
                <if test="shareCount != null">#{shareCount},</if>
                <if test="isPublic != null">#{isPublic},</if>
                <if test="createTime != null">#{createTime},</if>
                <if test="updateTime != null">#{updateTime},</if>
                <if test="updateBy != null">#{updateBy},</if>
                <if test="createBy != null">#{createBy},</if>
                <if test="originalName != null">#{originalName},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="icu.axospark.pojo.entity.Videos">
        update videos
        <set>
                <if test="title != null">
                    title = #{title},
                </if>
                <if test="description != null">
                    description = #{description},
                </if>
                <if test="userId != null">
                    user_id = #{userId},
                </if>
                <if test="videoCategoryId != null">
                    video_category_id = #{videoCategoryId},
                </if>
                <if test="filePath != null">
                    file_path = #{filePath},
                </if>
                <if test="fileSize != null">
                    file_size = #{fileSize},
                </if>
                <if test="duration != null">
                    duration = #{duration},
                </if>
                <if test="width != null">
                    width = #{width},
                </if>
                <if test="height != null">
                    height = #{height},
                </if>
                <if test="format != null">
                    format = #{format},
                </if>
                <if test="thumbnailUrl != null">
                    thumbnail_url = #{thumbnailUrl},
                </if>
                <if test="status != null">
                    status = #{status},
                </if>
                <if test="viewCount != null">
                    view_count = #{viewCount},
                </if>
                <if test="likeCount != null">
                    like_count = #{likeCount},
                </if>
                <if test="commentCount != null">
                    comment_count = #{commentCount},
                </if>
                <if test="shareCount != null">
                    share_count = #{shareCount},
                </if>
                <if test="isPublic != null">
                    is_public = #{isPublic},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime},
                </if>
                <if test="updateTime != null">
                    update_time = #{updateTime},
                </if>
                <if test="updateBy != null">
                    update_by = #{updateBy},
                </if>
                <if test="createBy != null">
                    create_by = #{createBy},
                </if>
                <if test="originalName != null">
                    original_name = #{originalName},
                </if>
        </set>
        where   video_id = #{videoId} 
    </update>
    <update id="updateByPrimaryKey" parameterType="icu.axospark.pojo.entity.Videos">
        update videos
        set 
            title =  #{title},
            description =  #{description},
            user_id =  #{userId},
            video_category_id =  #{videoCategoryId},
            file_path =  #{filePath},
            file_size =  #{fileSize},
            duration =  #{duration},
            width =  #{width},
            height =  #{height},
            format =  #{format},
            thumbnail_url =  #{thumbnailUrl},
            status =  #{status},
            view_count =  #{viewCount},
            like_count =  #{likeCount},
            comment_count =  #{commentCount},
            share_count =  #{shareCount},
            is_public =  #{isPublic},
            create_time =  #{createTime},
            update_time =  #{updateTime},
            update_by =  #{updateBy},
            create_by =  #{createBy},
            original_name =  #{originalName}
        where   video_id = #{videoId} 
    </update>
</mapper>
